<style type="text/css">
body {
    overflow:hidden;
    background-image: url(assets/white_grid.png);
    background-repeat: repeat;
    overflow-y: hidden; 
    overflow-x: hidden;
    background-size: auto; 
}
</style>

<div class="row">
  <div class="col-md-6" style="background-color: white;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/World_map_blank_without_borders.svg/800px-World_map_blank_without_borders.svg.png"></div>
  <div class="col-md-6" style="background-image: url(assets/white_grid.png);"><img src="/assets/usa_ridden.png"></div>
</div>