// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    overflow:hidden;
    background-image: url(world_dot_map.png);
    height: 800px; 
    margin-top: -20px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow-y: hidden; 
    overflow-x: hidden;
}

.valign {
    padding-top: 235px;
}

.navbar-inverse {
	background-color: #09091A;
	border-color: #09091A;
}


// Make containers difference sizes

.col-md-7{
  position: relative;
  height: 800px;
  padding-right: 0px;
  padding-left: 15px;
  padding-top: 15px;
  background-image: url(paper_@2X.png);
  background-repeat: repeat;
}

.col-md-5{
  position: relative;
  height: 800px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #C0C0C8;
}


