<div style="font-family: 'Open Sans', sans-serif; background-color: #09091A;">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%=link_to "About", about_path %></li>
          <li><%=link_to "Dashboard", dashboard_path %></li>
          <li>
            <% if current_user %>
<%= link_to "Sign out", signout_path%>
<% end %>
          </li>
        </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-brand">
          <img src="/assets/UBER_API_Badges_1x_28px.png">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>